<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Visualização</ion-title>
    <ion-icon name="cube" slot="end" size="large" class="ion-margin"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="documents" class="ion-no-margin">
    <ion-card-header>
      <ion-card-title>{{ general.formatText(documents.name) }}</ion-card-title>
      <ion-card-subtitle>{{ general.formatText(documents.location) }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Descrição: </strong>{{ general.formatText(documents.description) }}</p>
      <ul>
        <li>Documento enviado em {{ documents.date | date: 'dd/MM/yyyy' }} ás {{ documents.date | date: 'H:m' }}.</li>
      </ul>

      <ion-img src="{{ documents.imagem.url }}" alt="Imagem do documento {{ documents.name }}"
        style="width: 200px;"></ion-img>

      <ion-grid class="ion-text-center ion-no-padding" style="margin-top: 14px;">
        <ion-row>
          <ion-col><a routerLink="/home" title="btn">Listar Todos</a></ion-col>
          <ion-col><a (click)="editDoc(docId)" title="btn">Editar</a></ion-col>
          <ion-col><a (click)="alertDelete = true;" title="btn">Apagar</a></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Elemento de alerta -->
  <ion-alert header="Realmente deseja exluir este documento?" [buttons]="alertButtons"
    [isOpen]="alertDelete"></ion-alert>

  <!-- Elemento de carregamento -->
  <ion-loading class="custom-loading" [isOpen]="deleting" showBackdrop="false" message="Carregando..."
    spinner="circles"></ion-loading>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <a [href]="env.authorUrl" target="_blank" title="copyright">&copy; 2023 {{ env.author }}.</a>
    </ion-title>
  </ion-toolbar>
</ion-footer>