<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>listall</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="listImg">
    <p *ngFor="let img of listImg">
      <ion-img [src]="img" alt=""></ion-img>
    </p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <a [href]="env.authorUrl" target="_blank" title="copyright">&copy; 2023 {{ env.author }}.</a>
    </ion-title>
  </ion-toolbar>
</ion-footer>