<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Editar documento</ion-title>
    <ion-icon name="pencil" size="large" slot="end" class="ion-margin"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Altere os dados dos campos e aperte "enviar para editar o documento".</p>
  <p>
    <ion-input label="Nome:" type="text" name="name" label-placement="floating" fill="outline"
      placeholder="Nome do documento" [autofocus]="true" [(ngModel)]="form.name" error-text="Nome inválido!"
      minlength="3" required></ion-input>
  </p>

  <p>
    <ion-input label="Localização:" type="text" name="location" label-placement="floating" fill="outline"
      placeholder="Localização do documento" [(ngModel)]="form.location" error-text="Localização inválida!"
      minlength="3" required></ion-input>
  </p>

  <p>
    <ion-textarea label="Descrição do documento:" name="description" labelPlacement="floating" fill="outline"
      [autoGrow]="true" placeholder="Descrição do documento" [(ngModel)]="form.description"
      error-text="Descrição inválida!" minlength="5" required></ion-textarea>
  </p>

  <ion-img style="height: 250px;" [src]="form.imagem.url" alt="Foto do documento {{ form.name }}"
    *ngIf="!imagem.uploaded"></ion-img>
  <ion-img style="height: 250px;" [src]="imagem.url" alt="Foto alterado do documento {{ form.name }}"
    *ngIf="imagem.uploaded"></ion-img>

  <ion-button (click)="general.getPhoto(imagem)">
    <ion-icon name="pencil" slot="start"></ion-icon>
    Alterar
  </ion-button>

  <p>
    <ion-button (click)="alertSend = true;">
      <ion-icon name="send" slot="start"></ion-icon>
      Enviar
    </ion-button>
  </p>

  <!-- Elemento de alerta -->
  <ion-alert header="Realmente deseja alterar os dados deste documento?" [buttons]="alertButtons"
    [isOpen]="alertSend"></ion-alert>

  <!-- Elemento de carregamento -->
  <ion-loading class="custom-loading" [isOpen]="sending" showBackdrop="false" message="Carregando..."
    spinner="circles"></ion-loading>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <a [href]="env.authorUrl" target="_blank" title="copyright">&copy; 2023 {{ env.author }}.</a>
    </ion-title>
  </ion-toolbar>
</ion-footer>