<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Error 404</ion-title>
    <ion-icon name="warning" size="large" slot="end" class="ion-margin"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-img src="./assets/404.jpg" style="height: 400px;"></ion-img>
    <h2>O conteúdo que você está tentando acessar não existe.</h2>
    <p>Use o menu lateral para navegar entre as páginas do site ou clique o botão abaixo para voltar ao ínicio.</p>
    <ion-button routerLink="/home">
      <ion-icon name="home" slot="start"></ion-icon>  
      Ínicio
    </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <a [href]="env.authorUrl" target="_blank" title="copyright">&copy; 2023 {{ env.author }}.</a>
    </ion-title>
  </ion-toolbar>
</ion-footer>