<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Sobre</ion-title>
    <ion-icon name="information-circle" slot="end" size="large" class="ion-margin"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="./assets/about.png" style="max-width: 50%; margin: 0 auto;"></ion-img>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <strong>Bem-vindo ao "Ionic Web": Conhecimentos em Angular, Ionic e Firebase.</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Bem-vindo ao"Ionic Web" - Meu projeto pessoal iniciado durante o curso de TI. pelo SENAC-RJ, com o objetivo de
        aprimorar minhas habilidades em desenvolvimento utilizando as tecnologias Angular, Ionic e Firebase. Um espaço
        dedicado para explorar, experimentar e fortalecer meus conhecimentos em um ambiente prático e desafiador.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <strong>O que é o "Ionic Web"?</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>"Ionic Web" é um projeto especial criado para servir como um laboratório pessoal, desenvolvido durante o meu
        curso, no qual eu pude me dedicar a aprimorar minhas habilidades em desenvolvimento de aplicativos usando o
        framework Angular, a plataforma Ionic e o banco de dados Firebase. Esta combinação de tecnologias oferece uma
        base sólida para a criação de aplicativos móveis e da web de alto desempenho e funcionalidades avançadas.</p>

      <p>Melhoria Contínua: O "Ionic Web" é um projeto em constante evolução, permitindo que você acompanhe as
        atualizações e aprimore suas habilidades à medida que avança no curso.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <strong>Continuando a aprimorar as habilidades!</strong>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>O "Ionic Web" é um projeto em constante evolução, permitindo que você acompanhe as atualizações e aprimore suas
        habilidades à medida que avança no curso.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <strong>Entre em contato</strong>
      </ion-card-title>
      <ion-card-subtitle>
        {{env.author}}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ul>
        <li><a href="{{ env.authorUrl }}" target="_blank">GitHub</a></li>
        <li><a href="mailto:{{ env.authorEmail }}" target="_blank">E-mail</a></li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <a [href]="env.authorUrl" target="_blank" title="copyright">&copy; 2023 {{ env.author }}.</a>
    </ion-title>
  </ion-toolbar>
</ion-footer>