<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Login / Entrar</ion-title>
    <ion-icon name="log-in" slot="end" size="large" class="ion-margin"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login / Entrar</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>Logue-se para ter acesso ao conteúdo e ferramentas restritos.</p>
      <ion-button (click)="login()">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Logue-se com o Google
      </ion-button>
  
      <p><em>Se necessário, desligue o bloqueador de popups para este site.</em></p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <a [href]="env.authorUrl" target="_blank" title="copyright">&copy; 2023 {{ env.author }}.</a>
    </ion-title>
  </ion-toolbar>
</ion-footer>