<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Tirar Foto</ion-title>
    <ion-icon name="camera" slot="end" size="large" class="ion-margin"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="!photoURL">
    <p>Clique no botão para tirar uma foto:</p>

    <ion-fab slot="fixed" vertical="center" horizontal="center">
      <ion-fab-button (click)="getPhoto()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <div *ngIf="photoURL" class="ion-text-center">
    <ion-img [src]="photoURL" alt="Foto carregada"></ion-img>

    <ion-button *ngIf="!saved" (click)="savePhoto()" color="warning">
      <ion-icon name="save" slot="start"></ion-icon>
      Salvar
    </ion-button>

    <ion-button (click)="getPhoto()">
      <ion-icon slot="start" name="camera"></ion-icon>
      Alterar
    </ion-button>
  </div>

  <div *ngIf="saved">
    <p><strong>URL da imagem: </strong></p>
    <p>{{ savedURL }}</p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <a [href]="env.authorUrl" target="_blank" title="copyright">&copy; 2023 {{ env.author }}.</a>
    </ion-title>
  </ion-toolbar>
</ion-footer>